<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="author" content="mironcoder" />
<meta name="email" content="mironcoder@gmail.com" />
<meta name="profile" content="https://themeforest.net/user/mironcoder" />
<meta name="template" content="greeny" />
<meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
<meta name="keywords"
	content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online" />
<title>Thế giới nông sản</title>
<link rel="icon" href="/images/logo.png" />
<link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
<link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
<link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
<link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
<link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
<link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
<link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/contact.css">

 <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->
	
	<section class="home-index-slider slider-arrow slider-dots">
		<div class="banner-part banner-1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-6">
						<div class="banner-content">
							<h1>CAM KẾT CHẤT LƯỢNG</h1>
							<p>Tất cả sản phẩm chúng tôi cung cấp đều trải qua quá trình kiểm tra và đánh giá nghiêm túc.
							 Các nhà cung cấp của chúng tôi thường xuyên được đánh giá lại để đảm bảo tuân thủ các chỉ dấn
							 về chất lượng của chúng tôi</p>
							<div class="banner-btn">
								<a class="btn btn-inline"
									th:href="@{/products}">
									<i class="fas fa-shopping-basket"></i>
									<span>Mua sắm ngay bây giờ</span>
								</a>
<!-- 								<a class="btn btn-outline" -->
<!-- 									href="javascript:void(0);"> -->
<!-- 									<i class="icofont-sale-discount"></i> -->
<!-- 									<span>nhận đề nghị</span> -->
<!-- 								</a> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="banner-img">
							<img src="images/home/index/04.png" alt="index" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner-part banner-2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-6">
						<div class="banner-img">
							<img src="images/home/index/03.png" alt="index" />
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="banner-content">
							<h1>CAM KẾT CHẤT LƯỢNG</h1>
							<p>Tất cả sản phẩm chúng tôi cung cấp đều trải qua quá trình kiểm tra và đánh giá nghiêm túc.
							 Các nhà cung cấp của chúng tôi thường xuyên được đánh giá lại để đảm bảo tuân thủ các chỉ dấn
							 về chất lượng của chúng tôi</p>
							<div class="banner-btn">
								<a class="btn btn-inline" th:href="@{/products}">
									<i class="fas fa-shopping-basket"></i>
									<span>Mua sắm ngay bây giờ</span>
								</a>
<!-- 								<a class="btn btn-outline" -->
<!-- 									href="javascript:void(0);"> -->
<!-- 									<i class="icofont-sale-discount"></i> -->
<!-- 									<span>nhận đề nghị</span> -->
<!-- 								</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section suggest-part">
		<div class="container">
			<ul class="suggest-slider slider-arrow">
				<li th:each="item : ${coutnProductByCategory}">
					<a class="suggest-card" th:href="@{/productByCategory(id=${item[0]})}">
						<img src="images/suggest/02.jpg" alt="suggest" />
							<h5>
								[[${item[1]}]] <span>số lượng : [[${item[2]}]] </span>
							</h5>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="section recent-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Mặt hàng mới về</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${productList}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text new">mới vế</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										 
										<a
											title="Video sản phẩm"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>							
									
									 <th:block th:if="${item.quantity !=  0}">
									  <a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>	       	                               
									 </th:block>
									 
									  <th:block th:if="${item.quantity ==  0}">
									  <a class="product-add2">
										<i class="fas fa-shopping-basket"></i><span>Hết hàng</span>
									</a>	       	                               
									 </th:block>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section promo-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="promo-img">
						<a href="javascript:void(0);"><img src="images/promo/home/10.jpg" alt="promo" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section feature-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Mặt hàng nổi bật</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${bestSaleProduct20}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text feat">nổi bật</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										
										<a
											title="Product Video"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>
									
									<th:block th:if="${item.quantity !=  0}">
									  <a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>	       	                               
									 </th:block>
									 
									  <th:block th:if="${item.quantity ==  0}">
									  <a class="product-add2">
										<i class="fas fa-shopping-basket"></i><span>Hết hàng</span>
									</a>	       	                               
									 </th:block>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section countdown-part">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto">
					<div class="countdown-content">
						<h3>ƯU ĐÃI GIẢM GIÁ ĐẶC BIỆT CHO CÁC MẶT HÀNG</h3>
						<p>Chương trình ưu đãi hàng tuần.</p>
						<div class="countdown countdown-clock" data-countdown="2022/12/22">
							<span class="countdown-time"><span>00</span><small>days</small></span><span
								class="countdown-time"><span>00</span><small>hours</small></span><span
								class="countdown-time"><span>00</span><small>minutes</small></span><span
								class="countdown-time"><span>00</span><small>seconds</small></span>
						</div>
						<a th:href="@{/products}" class="btn btn-inline"><i
							class="fas fa-shopping-basket"></i><span>Mua sắm ngay bây
								giờ</span></a>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<div class="countdown-img">
						<img src="images/countdown.png" alt="countdown" />
						<div class="countdown-off">
							<span>20%</span><span>off</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section newitem-part">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section-heading">
						<h2>Mặt hàng bán chạy</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${bestSaleProduct20}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text new">mới</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										
										<a
											title="Product Video"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>
									
									<th:block th:if="${item.quantity !=  0}">
									  <a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>	       	                               
									 </th:block>
									 
									  <th:block th:if="${item.quantity ==  0}">
									  <a class="product-add2">
										<i class="fas fa-shopping-basket"></i><span>Hết hàng</span>
									</a>	       	                               
									 </th:block>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- 	<div class="section promo-part"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-sm-12 col-md-6 col-lg-6 px-xl-3"> -->
<!-- 					<div class="promo-img"> -->
<!-- 						<a href="javascript:void(0);"><img src="images/promo/home/04.jpg" alt="promo" /></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-12 col-md-6 col-lg-6 px-xl-3"> -->
<!-- 					<div class="promo-img"> -->
<!-- 						<a href="javascript:void(0);"><img src="images/promo/home/05.jpg" alt="promo" /></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	
	
<!-- 	<section class="section testimonial-part"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-12"> -->
<!-- 					<div class="section-heading"> -->
<!-- 						<h2>phản hồi của khách hàng</h2> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-lg-12"> -->
<!-- 					<div class="testimonial-slider slider-arrow"> -->
<!-- 						<div class="testimonial-card"> -->
<!-- 							<i class="fas fa-quote-left"></i> -->
<!-- 							<p>Tôi đã khám phá Green ty qua lời giới thiệu của bạn bè và tôi thực sự ấn tượng! Trang web rất dễ sử dụng và tôi đã tìm thấy mọi thứ mình cần một cách nhanh chóng.  -->
<!-- 							Tôi đã đặt một số sản phẩm và dịch vụ giao hàng của họ cực kỳ nhanh chóng và chuyên nghiệp. Tôi sẽ chắc chắn quay lại mua sắm ở đây trong tương lai và giới thiệu  -->
<!-- 							Greenty cho bạn bè của tôi!" -->
<!-- 							<h5>Kenz</h5> -->
<!-- 							<ul> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 							</ul> -->
<!-- 							<img src="images/avatar/01.jpg" alt="testimonial" /> -->
<!-- 						</div> -->
<!-- 						<div class="testimonial-card"> -->
<!-- 							<i class="fas fa-quote-left"></i> -->
<!-- 							<p>Tôi đã khám phá Green ty qua lời giới thiệu của bạn bè và tôi thực sự ấn tượng! Trang web rất dễ sử dụng và tôi đã tìm thấy mọi thứ mình cần một cách nhanh chóng.  -->
<!-- 							Tôi đã đặt một số sản phẩm và dịch vụ giao hàng của họ cực kỳ nhanh chóng và chuyên nghiệp. Tôi sẽ chắc chắn quay lại mua sắm ở đây trong tương lai và giới thiệu  -->
<!-- 							Greenty cho bạn bè của tôi!" -->
<!-- 							<h5>Kenz</h5> -->
<!-- 							<ul> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 							</ul> -->
<!-- 							<img src="images/avatar/02.jpg" alt="testimonial" /> -->
<!-- 						</div> -->
<!-- 						<div class="testimonial-card"> -->
<!-- 							<i class="fas fa-quote-left"></i> -->
<!-- 							<p>Tôi đã khám phá Green ty qua lời giới thiệu của bạn bè và tôi thực sự ấn tượng! Trang web rất dễ sử dụng và tôi đã tìm thấy mọi thứ mình cần một cách nhanh chóng.  -->
<!-- 							Tôi đã đặt một số sản phẩm và dịch vụ giao hàng của họ cực kỳ nhanh chóng và chuyên nghiệp. Tôi sẽ chắc chắn quay lại mua sắm ở đây trong tương lai và giới thiệu  -->
<!-- 							Greenty cho bạn bè của tôi!" -->
<!-- 							<h5>Kenz</h5> -->
<!-- 							<ul> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 							</ul> -->
<!-- 							<img src="images/avatar/03.jpg" alt="testimonial" /> -->
<!-- 						</div> -->
<!-- 						<div class="testimonial-card"> -->
<!-- 							<i class="fas fa-quote-left"></i> -->
<!-- 							<p>Tôi đã khám phá Green ty qua lời giới thiệu của bạn bè và tôi thực sự ấn tượng! Trang web rất dễ sử dụng và tôi đã tìm thấy mọi thứ mình cần một cách nhanh chóng.  -->
<!-- 							Tôi đã đặt một số sản phẩm và dịch vụ giao hàng của họ cực kỳ nhanh chóng và chuyên nghiệp. Tôi sẽ chắc chắn quay lại mua sắm ở đây trong tương lai và giới thiệu  -->
<!-- 							Greenty cho bạn bè của tôi!" -->
<!-- 							<h5>Kenz</h5> -->
<!-- 							<ul> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 								<li class="fas fa-star"></li> -->
<!-- 							</ul> -->
<!-- 							<img src="images/avatar/04.jpg" alt="testimonial" /> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</section> -->

<!-- 	<section class="news-part" -->
<!-- 		style="background: url(images/newsletter.jpg) no-repeat center"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row align-items-center"> -->
<!-- 				<div class="col-md-5 col-lg-6 col-xl-7"> -->
<!-- 					<div class="news-text"> -->
<!-- 						<h2>Hưởng Ưu Đãi Chiết Khấu 20% Lên Đến Cho Người Đăng Ký Mới</h2> -->
<!-- 						<p>Nhận Chiết Khấu 20% Cho Người Đăng Ký Mới</p> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-7 col-lg-6 col-xl-5"> -->
<!-- 					<form class="news-form"> -->
<!-- 						<input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" /> -->
<!-- 						<button> -->
<!-- 							<span><i class="icofont-ui-email"></i>Gửi</span> -->
<!-- 						</button> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</section> -->
	<section class="intro-part">
		<div class="container">
			<div class="row intro-content">
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-truck"></i>
						</div>
						<div class="intro-content">
							<h5>Giao Hàng Tận Nhà Miễn Phí</h5>
							<p>Chính sách hỗ trợ người dùng</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-sync-alt"></i>
						</div>
						<div class="intro-content">
							<h5>Chính Sách Hoàn Trả</h5>
							<p>Chính sách hỗ trợ người dùng</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-headset"></i>
						</div>
						<div class="intro-content">
							<h5>Hệ Thống Hỗ Trợ</h5>
						<p>Chính sách hỗ trợ người dùng</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-lock"></i>
						</div>
						<div class="intro-content">
							<h5>Cách Thanh Toán An Toàn</h5>
							<p>Chính sách hỗ trợ người dùng</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="inner-section">
	
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-heading">
						<h2>Cửa Hàng Của Chúng Tôi</h2>
					</div>
				</div>
                <div class="col-lg-12 col-sm-12">
                    <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7463.974614428481!2d105.94191308797325!3d20.710740023440493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135c818706749c1%3A0x54386096b1b06d45!2zdGjDtG4gVHJpIFRo4buneSwgVHJpIFRo4buneSwgUGjDuiBYdXnDqm4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1716516748430!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
		
	
	<!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
		
	<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
	<script src="vendor/bootstrap/popper.min.js"></script>
	<script src="vendor/bootstrap/bootstrap.min.js"></script>
	<script src="vendor/countdown/countdown.min.js"></script>
	<script src="vendor/niceselect/nice-select.min.js"></script>
	<script src="vendor/slickslider/slick.min.js"></script>
	<script src="vendor/venobox/venobox.min.js"></script>
	<script src="js/nice-select.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/accordion.js"></script>
	<script src="js/venobox.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/main.js"></script>

	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger
			intent="WELCOME"
			chat-title="Hỗ trợ khách hàng"
			agent-id="9a0d50aa-1455-4279-bb5d-e2648796bf2d"
			language-code="vi"
	></df-messenger>
</body>
</html>
